# Python
__pycache__/
*.pyc
.venv/
staticfiles/
*.sqlite3
.DS_Store

# Node
node_modules/

# Build
dist/
build/

# Environment
.env

# IDE
.vscode/
.idea/

# MKDocs
site/

# Custom
gitignore/
academia-tests/