DJANGO_SECRET_KEY=
DATABASE_NAME=academia_db
DATABASE_USER=academia_user
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

FRONTEND_URL=http://localhost:3000

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=your_email@example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=Academia <no-reply@academia.local>

