asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
Django==6.0.6
django-cors-headers==4.9.0
django-environ==0.14.0
django-redis==7.0.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
idna==3.18
Markdown==3.10.2
MarkupSafe==3.0.3
packaging==26.2
pathspec==1.1.1
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.13.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
redis==8.0.1
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
